body{
    background-color: #2C393A;
}

.side{
    background-color: #F2F2F2;
    margin: 10px;
    padding: 20px;
    width: 90vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: #315659;
    border-radius: 5px;
    box-shadow: 13px 14px 15px -3px rgba(0,0,0,0.1);
}

.navKnapper{
    background-color: #E59500;
    display: block;
    width: 20vw;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 13px 14px 15px -3px rgba(0,0,0,0.1);
}

.navKnapper:hover{
    background-color: rgb(189, 189, 189);
}

#forfatter{
    font-style: italic;
}

#forsidebildet{
    max-width: 100%;
    height: auto;
}