body{
    background-color: gray;
}

.side{
    background-color: white;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navKnapper{
    background-color: white;
    padding: 15px;
    border-style: groove;
    width: 50vw;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.navKnapper:hover{
    background-color: rgb(189, 189, 189);
}